@font-face {
  font-family: 'NanumBarunPen';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Nanumbarunpen/nanumbarunpenr.eot'),
    url('/fonts/Nanumbarunpen/nanumbarunpenr.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Nanumbarunpen/nanumbarunpenr.woff2') format('woff2'),
    url('/fonts/Nanumbarunpen/nanumbarunpenr.woff') format('woff'),
    url('/fonts/Nanumbarunpen/nanumbarunpenr.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'NanumBarunPen';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Nanumbarunpen/nanumbarunpenb.eot'),
    url('/fonts/Nanumbarunpen/nanumbarunpenb.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Nanumbarunpen/nanumbarunpenb.woff2') format('woff2'),
    url('/fonts/Nanumbarunpen/nanumbarunpenb.woff') format('woff'),
    url('/fonts/Nanumbarunpen/nanumbarunpenb.ttf') format('truetype'); /* Safari, Android, iOS */
}
