@import '~@/styles/shared/colors.scss';
@import '~@/styles/shared/fonts.scss';

* {
  box-sizing: border-box;
  font-family: 'NanumBarunPen', sans-serif;
  color: $black;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

/**
 * colors
 */
.c-blue {
  color: $blue;
}

.navbar + * {
  min-height: calc(100vh - 80px);
  padding-top: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media (min-width: 990px) {
    width: 990px;
  }
}

a {
  text-decoration: none;
}

.btns {
  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
