@import '~@/styles/shared/colors.scss';

* {
  box-sizing: border-box;
}

.navbar + * {
  height: calc(100vh - 140px);
}

.container {
  width: 990px;
  margin: 0 auto;
  padding: 0 10px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

a {
  text-decoration: none;
}
