@import '~@/styles/shared/colors.scss';
@import '~@/styles/shared/fonts.scss';
// @import '~slick-carousel/slick/slick.css';
// @import '~slick-carousel/slick/slick-theme.css';

* {
  box-sizing: border-box;
  font-family: 'NanumBarunPen', sans-serif;
  color: $black;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/**
 * colors
 */
.c-blue {
  color: $blue;
}
.c-purple {
  color: $purple;
}

.user-body {
  min-height: calc(100vh - 102px);
  padding-top: 60px;

  // & > div {
  //   min-height: calc(100vh - 162px);
  //   padding: 100px 0;
  // }
}

.container {
  margin: 20px auto;
  padding: 0 10px;
  width: 100%;

  @media (min-width: 990px) {
    width: 990px;
  }
}

a {
  text-decoration: none;
}

.btns {
  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// popup
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: auto;

  z-index: 101;
  border-radius: 5px;
  background-color: $white;
  // overflow: hidden;

  max-height: calc(100vh - 60px);

  &-header {
    background-color: $purple;
    padding: 15px;

    h5 {
      margin: 0;
      color: $white;
      font-size: 20px;
    }
  }

  &-body {
    padding: 50px 20px;
  }

  &-footer {
    button {
      width: 50%;
    }
  }
}
.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 100;
}

.table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-collapse: collapse;

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }

  tbody {
    tr {
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}

.mr10 {
  margin-right: 10px;
}

.section-btn {
  text-align: right;
  margin-bottom: 20px;
}

.section-admin {
  text-align: center;

  .search-option {
    display: flex;
    margin-bottom: 20px;
  }
}
