@import '~@/styles/shared/colors.scss';

.navbar {
  padding: 20px 0;
  height: 60px;

  position: fixed;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
  }

  &__menus {
    margin-left: auto;
  }
}
